@namespace svg url(http://www.w3.org/2000/svg);

svg|a:hover {
    cursor: pointer;
}

.maintext {
    font-size: 1.85px;
    font-style: italic;
}

.descwindow {
    fill: rgba(202, 204, 203);
    stroke:black;
    stroke-width: 0.25px;
}

.desctitle {
    font-size: 1.8px;
}

.desctext {
    font-size: 1px;
}

.imgdesc {
    font-size: 0.9px;
}

.midnode {
    fill: white;
}

.stoptext {
    font-size: 1px;
}

.stopnotbuilttext {
    font-size: 1px;
    font-style: italic;
}

.lineendtext {
    fill: white;
    font-size: 1px;
}

.volline {
    fill: rgba(247, 45, 200);
}

.contactline {
    fill: black;
}

.contdiagline {
    stroke: black;
    stroke-width: "1";
}

.projdiagline {
    stroke: rgba(179, 78, 2);
    stroke-width: "1";
}

.projline {
    fill: rgba(179, 78, 2);
}

.workline {
    fill: rgba(0, 5, 150);
}

.workdiagline {
    stroke: rgba(0, 5, 150);
    stroke-width: 0.125;
}

.eduline {
    fill: rgba(150, 3, 3);
}

.aboutline {
    fill: rgba(25, 138, 10);
}

.intraline {
    fill: rgba(79, 20, 128);
}

.inthobline {
    fill: #333333;
}

.inthobdiagline {
    stroke: #333333;
    stroke-width: "1";
}

.volstop{
    fill: rgba(247, 45, 200);
}

.contactstop {
    fill:black;
}

.projstop {
    fill: rgba(179, 78, 2);
}

.workstop {
    fill: rgba(0, 5, 150);
}

.edustop {
    fill: rgba(150, 3, 3);
}

.aboutstop {
    fill: rgba(25, 138, 10);
}

.intrastop {
    fill: rgba(79, 20, 128);
}

.inthobstop {
    fill: #333333;
}